<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testing-1.0.dtd">
<suite name="Google Search automation app">

    <listeners>
        <listener class-name="ExtentReportListner.ExtentReportListner"/>
    </listeners>

    <test name="automation task test cases">
        <classes>

            <class name="tests.HomeTest"></class>
        </classes>

    </test>
</suite>
